$main-color: #ffd740;
$secondry-color: #ffd740;
$main-grey-color: #263238;
$secondry-grey-color: #263238;
$third-grey-color: #f5f5f5;
$more-white-color: #fefefe;
$white-color: #fff;
$balck-color: #000;